<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Kamera digunakan untuk memindai QR Code rapor siswa.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Lokasi digunakan untuk absensi pegawai (check-in/out) di area sekolah. Koordinat GPS dikirim saat Anda menekan tombol absensi.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Lokasi digunakan untuk absensi pegawai (check-in/out) di area sekolah.</string>
</dict>
</plist>
